# Backend
backend/node_modules/
backend/dist/
backend/coverage/
backend/*.tsbuildinfo

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/out-tsc/

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store

# Local
.env
*.log
